
p {
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
}

.Terminal {
    width: 32em;
    min-height: 13em;
    max-height: 25em;
    display: flex;
    flex-direction: column;
    background-color: #362f38;
    border-radius: 15px;
    overflow: hidden;
}

.TerminalHeader {
    display: flex;
    background-color: #362f38;
    min-width: 100%;
    min-height: 1.25em;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.BlackLine {
    display: flex;
    height: 1px;
    background-color: black;
}

.HeaderText {
    height: auto;
    color: #635765;
    font-size: 14px;
}

.TerminalBody {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin: 8px;
    justify-content: flex-start;
    align-items: flex-start;
}

.ControlButtons {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    margin-right: 8px;
}